.gallery {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;

  .gallery-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    will-change: transform;
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
  }
  .gallery-item-wrapper {
    transform: scale(1);
    transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    &.is-reveal {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}n) {
          .gallery-item {
            transition-delay: #{$i * 0.1}s !important;
          }
        }
      }
      .gallery-item {
        clip-path: inset(0% 0% 0% 0%);
      }
      .gallery-item-image {
        transform: scale(1);
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(1.1);
    transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
    position: absolute;

    &.sepia {
      filter: grayscale(100%) sepia(20%) brightness(80%);
    }
    &.masked {
      clip-path: circle(24% at 50% 50%);
    }
  }
}
