@import "../../styles/_mixins";

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 100px 5vw;
  box-sizing: border-box;

  font-size: 2em;

  text-transform: uppercase;

  li {
    margin-left: 5%;
    &:first-of-type {
      margin-left: 0;
    }
    &.active {
      text-decoration: underline;
    }
  }

  @include mq("tablet", max) {
  padding: 30px 5vw;

    justify-content: space-between;
    font-size: 1.4em;

    .hide-xs {
      display: none;
    }
  }
}
