.contact-button {
  border: 1px solid #111;
  padding: 20px;
  background: #111;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  text-transform: uppercase;
  color: white;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  letter-spacing: 3px;

  display: flex;
  align-items: center;

  svg {
	  margin-left: 10px;
  }

  &:hover {
    background-color: white;
    color: #111;
  }
}
