@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "./_mixins.scss";

$bg-color: white;

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
}

.main-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  width: calc(100vw - 50px); //margin, padding and border
  margin: 0 auto;

  h1 {
    font-size: clamp(100px, 15vw, 15vw);
    font-weight: bold;
    margin-bottom: 10vh;
    max-width: 70vw;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    color: #111;
  }

  @include mq("tablet", min) {
    margin-left: 75px;
    padding-left: 50px;
    border-left: 1px solid rgb(116, 116, 116);
    width: calc(100vw - 126px); //margin, padding and border
  }
}
