.navbar {
  display: flex;
  justify-content: space-between;

  padding: 50px 0;
  font-size: 24px;

  letter-spacing: 1px;
  font-family: "Syncopate", sans-serif;
  color: #464646;
  font-weight: 600;
  text-transform: uppercase;
}
