.navbar {
  // position: sticky;
  // top: 0;
  // z-index: 1000;
  display: flex;
  justify-content: space-between;

  padding: 50px 0;
  font-size: 24px;

  //  mix-blend-mode: difference;

  letter-spacing: 1px;
  font-family: "Syncopate", sans-serif;
  color: #464646;
  font-weight: 600;
  text-transform: uppercase;
}
