.header-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  z-index: 25;

}
.button {
	padding: 0;
	background-color: white;
	box-shadow: none;
	border: none;
	display: block;
	display: flex;
	padding: 10px;
	border: 1px solid black;


	&:hover {
		background-color: black;
		svg {
			color: white;
		}
	}

	svg {
		stroke-width: 1px;
	}
}
