.model-container {
  margin: 2%;
}

.home-button {
	position: absolute;
	left: 1.6rem;
	top: 1.6rem;
}
.image-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 1200px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}
