@import url("https://fonts.googleapis.com/css?family=Oswald:300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
}

.feature-slides-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .feature-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    .feature-slide-title {
      font-size: 6vw;
      text-transform: uppercase;
      font-weight: 900;
      font-family: "Fugaz One", cursive;
    }
    .feature-slide-description {
      font-size: 1.5rem;
      margin-top: 30px;
      line-height: 1.3;
    }
  }

  .feature-slides-right {
    height: 100vh;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: all 1s ease-in-out;
      transform: scale(1.3);
      position: absolute;
      top: 0;
      &.as-primary {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}
.footer {
  margin-top: 100px;
  height: 70vh;
  background-color: #285ede;

  display: flex;
  align-items: flex-end;
  padding: 100px;

  color: white;
  font-size: 3rem;
  font-weight: 600;
}
