.gallery {
  

  height: 600px;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
 

  .gallery-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    will-change: transform;
    clip-path: inset(0% 0% 0% 0%);
    // clip-path: inset(0% 100% 0% 0%);
    // transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    // &.reveal {
      // .gallery__item-imginner {
        // transform: scale(1);
      // }
    // }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center left;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(1.1);
    transition: transform 2s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
