.footer {
  height: 100%;
  background: #252a47;
  display: grid;
  place-items: center;
  width: 100vw;
  z-index: -1;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .contact-addresses {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;

    color: white;

    h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 30px;
      letter-spacing: 2px;
    }
    p {
      margin: 10px 0 10px;
    }
  }
}
