.main-cursor {
  width: 20px;
  height: 20px;
  background: black;
  display: none;
}

.secondary-cursor,
.main-cursor {
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}
.secondary-cursor {
  width: 20px;
  height: 20px;
  background: white;
  mix-blend-mode: difference;
}
