

.grid-item{
  img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
  p{
    margin-top: 15px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
  }
  margin-bottom: 20px;
}